<div class="dashbox">
	<h3>Eclipse metrics</h3>
		<table>
			<tr>
		    	<td>Number of features:</td>
		    	<td><%= format_measure('no_features') %></td>	
		  	</tr>	
		<tr>
		    <td>Number of plugins:</td>
		    <td><%= format_measure('no_plugins') %></td>	
		  </tr>
	</table>
</div>
